@using FreakyFashion.Models
@model List<Product>



<div class="container m-5">
    <div class="row">
        <a class="col-4 text-center " asp-page="/Klänningar" asp-route-type="Dress">
            <div class=" border" style="height:200px">Klänningar</div>
        </a>
        <a class="col-4 text-center " asp-page="/Klänningar" asp-route-type="Trouther">
            <div class=" border " style="height:200px">Byxor</div>
        </a>
        <a class="col-4 text-center " asp-page="/Klänningar" asp-route-type="Shirts">
            <div class=" border" style="height:200px">Tröjor</div>
        </a>

    </div>
</div>
