@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage">
                    <img src="https://img.favpng.com/7/11/0/shopping-cart-shopping-centre-icon-png-favpng-qpu6Pwx0qd87gmCtcxxjQGL3m.jpg"
                         alt="shopping" width="20" height="20" />
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage">
                    <img src="https://img.favpng.com/7/11/0/shopping-cart-shopping-centre-icon-png-favpng-qpu6Pwx0qd87gmCtcxxjQGL3m.jpg"
                         alt="shopping" width="20" height="20" />
                </a>
            </li>
        }
    </ul>
